<div class="body" style="background-image: url('assets/wallpaperpokedex.png'); background-attachment:fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <app-bar></app-bar>
            </div>
            <div class="col-sm-9 col-sm-offset-1">
                <div class="table-responsive" style="width: 72%; margin-left: 12%;">
                    <table class="table table-striped table-dark text-white table-hover">
                        <thead>
                            <tr>
                                <th>pokemon</th>
                                <th>Image</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{evolutionpokemon.name}}</td>
                                <td><div class="my-card"><img class="my-card-img" [src]="firstp.sprites.front_default"></div></td>
                                <td>weight: {{firstp.weight}} <br> 
                                    <table class="table table-striped table-dark text-white table-hover">
                                        <thead>
                                            <tr>
                                                <th>Abilities</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let abilitiess of firstp.abilities">
                                                <td>{{abilitiess.ability.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table> <br>
                                    <table class="table table-striped table-dark text-white table-hover">
                                        <thead>
                                            <tr>
                                                <th>Types</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let type of firstp.types">
                                                <td>{{type.type.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="contevolutions>0">
                            <tr>
                                <td>{{evolutionpokemon.evolutions[0]}}</td>
                                <td><div class="my-card"><img class="my-card-img" [src]="secondp.sprites.front_default"></div></td>
                                <td>weight: {{secondp.weight}} <br> 
                                    <table class="table table-striped table-dark text-white table-hover">
                                        <thead>
                                            <tr>
                                                <th>Abilities</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let abilitiess of secondp.abilities">
                                                <td>{{abilitiess.ability.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table> <br>
                                    <table class="table table-striped table-dark text-white table-hover">
                                        <thead>
                                            <tr>
                                                <th>Types</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let type of secondp.types">
                                                <td>{{type.type.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="contevolutions>1">
                            <tr>
                                <td>{{evolutionpokemon.evolutions[1]}}</td>
                                <td><div class="my-card"><img class="my-card-img" [src]="thirdp.sprites.front_default"></div></td>
                                <td>weight: {{thirdp.weight}} <br> 
                                    <table class="table table-striped table-dark text-white table-hover">
                                        <thead>
                                            <tr>
                                                <th>Abilities</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let abilitiess of thirdp.abilities">
                                                <td>{{abilitiess.ability.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table> <br>
                                    <table class="table table-striped table-dark text-white table-hover">
                                        <thead>
                                            <tr>
                                                <th>Types</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let type of thirdp.types">
                                                <td>{{type.type.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
