<div class="body">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3">
              <app-bar></app-bar>
          </div>
          <div class="col-sm-9 col-sm-offset-1">
              <app-header></app-header>
          </div>
      </div>   
  </div>
</div>