.body {
    margin: 0px;
    padding: 0px;
    background-color: #050505;
}

body {
    background-color: #eee
}

.my-card {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 0px 8px;
    margin-bottom: 28px;
    border-radius: 35px 0;
    overflow: hidden;
    transition: .5s
}

.my-card:hover {
    box-shadow: 0px 0px 8px #c81a3b;
}

.my-card-img {
    max-height: 350px;
    width: 100%
}
/*.my-card-img:hover {
    content: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/17.png');
}*/


.my-card-body {
    padding: 20px;
    margin-bottom: 20px
}

.my-card-body h5 {
    text-transform: capitalize;
    line-height: 25px;
    font-size: 25px
}

.my-card-body p {
    margin: 10px 0;
    color: #f7941d
}

.social-icons {
    margin-bottom: 25px
}

.social-icons a {
    margin-right: 22px;
    color: #363842;
    font-size: 16px
}

.social-icons a:hover {
    color: #c81a3b
}

.my-card-btn {
    color: rgb(231, 231, 231);
    background-color: #c81a3b;
    padding: 10px 28px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 10px 0;
    transition: .5s
}

.my-card-btn:hover {
    color: rgb(15, 15, 15)
}

.external-link {
    cursor: pointer;
    color: blue
}

body {
    background: #eee
}