<div class="body" style="background-image: url('assets/wallpaperpokedex.png'); background-attachment:fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <app-bar></app-bar>
            </div>
            <div class="col-sm-9 col-sm-offset-1">
                <div class="container mt-5 d-flex justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="my-card"> <img class="my-card-img" [src]="datosPokemon.sprites.front_default"
                                [ngStyle]="{'content':datosPokemon.sprites.back_default}">
                            <hr>
                            <div class="my-card-body trainer-card-body">
                                <h5 style="float:left">{{labelpokemon}}</h5>
                                <p style="float:right"># {{datosPokemon.id}}</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-dark text-white table-hover">
                                        <thead>
                                            <tr>
                                                <th>Abilities</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let abilitiess of datosPokemon.abilities">
                                                <!--<td>{{abilitiess.slot}}</td>-->
                                                <td>{{abilitiess.ability.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p style="float:left">weight</p>
                                <p style="float:right">{{datosPokemon.weight}}</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-dark text-white table-hover">
                                        <thead>
                                            <tr>
                                                <th>Types</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let type of datosPokemon.types">
                                                <!--<td>{{abilitiess.slot}}</td>-->
                                                <td>{{type.type.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <p class="my-card-btn" (click)="routeEvolutions()">Evolutions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>