<div class="body" style="background-image: url('assets/wallpaperpokedex.png'); background-attachment:fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <app-bar></app-bar>
            </div>
            <div class="col-sm-9 col-sm-offset-1">
                <div class="table-responsive" style="width: 72%; margin-left: 12%;">
                    <table class="table table-striped table-dark text-white table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Pokemon</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pokemons of listaDatosPokemon" (click)="getSpecific(pokemons.pokemon.name)">
                                <td>{{pokemons.detailsPokemon.id}}</td>
                                <td><div class="my-card"><img class="my-card-img" [src]="pokemons.detailsPokemon.sprites.front_default"></div></td>
                                <td>{{pokemons.pokemon.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width: 72%; margin-left: 12%;">
                    <nav aria-label="Page navigation example" style="float: left;">
                        <ul class="pagination">
                          <li class="page-item" (click)="setPagePrevios()"><p class="page-link" >Previous</p></li>
                          <li class="page-item"><p class="page-link" >{{pagina}}</p></li>
                          <li class="page-item" (click)="setPageNext()"><p class="page-link" >Next</p></li>
                        </ul>
                      </nav>
                      <div style="float: right;">
                      <button type="button"  (click)="setSpecificPage()" class="page-link" style="float: right;">Go</button>
                      <input [ngModel]="specificpage" (ngModelChange)="specificpage = $event"  type="number"  style=" width: 50px; height: 38px;" placeholder="Search pokemon">
                      </div>
                </div>
            </div>
        </div>   
    </div>
</div>




