<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  
    
      
        <div class="nav-side-menu">
          <div class="brand">Pokedex</div>
          <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
            
            <ul>
              <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                  <div class="searchbar">
                    <input [ngModel]="pokemonInput" (ngModelChange)="pokemonInput = $event" class="search_input" type="text"  placeholder="Search pokemon">
                    <button type="button"  (click)="getDetailsPokemon()" class="search_icon"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </ul>
            <ul id="menu-content" class="menu-content collapse out">
                <a href="http://localhost:4200/dashboardpoke" style="text-decoration: none;">
                  <li>
                    <i class="fa fa-dashboard fa-lg"></i> Home
                  </li>
                </a>
              </ul>
              <ul id="menu-content" class="menu-content collapse out">
                <a href="http://localhost:4200/allpokemon/1" style="text-decoration: none;">
                  <li>
                    <i class="fa fa-dashboard fa-lg"></i> All Pokemon
                  </li>
                </a>
              </ul>
          </div>